.mainDashboardBox {
  width: 50%;
}
.dashboardHeading {
  text-align: center;
  margin-bottom: 0px !important;
  border-top: 2px dashed #ffffff;
  border-radius: 30px 30px 0px 0px;
  padding: 7px 2px !important;
  background: #4169e1ba;
  color: white;
}
.dashboardHomeMainContain {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 20px 10px;
}
.dashboardBox_1 {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  padding: 10px 16px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0 0 6px 6px;
  background: #ffffffa3;
}
/* .border_rightBox_1 {
  border-left: 10px solid #ad08df;
} */
.border_rightBox_2 {
  border-left: 10px solid #df2508;
}
.singleBox_D .text_Box {
  padding: 10px 0 !important;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  border-bottom: 1px dashed black;
}
.singleBox_D_two {
  display: flex;
  gap: 10px;
}
.singleBox_F {
  display: flex;
  align-items: center;
  gap: 6px;
}
.IncomingIcon_Box {
  color: green;
  font-size: 20px;
}
.Outgoing_Box {
  color: blue;
  font-size: 20px;
}
.Layer_D_Border {
  height: auto;
  border-right: 1px dashed black;
}
.D_28 {
  padding: 10px !important;
  font-size: 20px;
}
.dashboardHomeMainContain_box_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1024px) {
  .dashboardBox_1 {
    gap: 6px;
    padding: 10px 4px;
  }
  .D_28 {
    padding: 10px 6px !important;
  }
}
@media (max-width: 991px) {
  .dashboardHomeMainContain {
    justify-content: center;
  }
  .dashboardMainArea {
    gap: 0;
  }
}
@media (max-width: 768px) {
  .dashboardHomeMainContain {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .singleBox_D .text_Box {
    padding: 8px 0 10px 0 !important;
  }
  .dashboardMainArea {
    padding: 0px;
  }
  .singleBox_F {
    gap: 0px;
  }
  .singleBox_D_two {
    gap: 6px;
  }
  .dashboardBox_1 {
    gap: 4px;
    padding: 8px 8px;
  }
  .dashboardHomeMainContain_box_2 {
    flex-direction: column;
  }
  .mainDashboardBox {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .D_28 {
    font-size: 16px;
  }
  .singleBox_D_two {
    gap: 4px;
  }
}
@media (max-width: 350px) {
  .singleBox_D .text_Box {
    font-size: 20px;
  }
  .dashboardBox_1 {
    flex-direction: column;
  }
  .singleBox_D_two {
    justify-content: center;
  }
}
