.loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f942;
}
.login-container h2 {
  text-align: center;
  padding-bottom: 8px !important;
  margin-bottom: 20px !important;
  border-bottom: 1px solid rgb(176, 176, 176);
}
.form-group {
  margin-bottom: 15px;
}
.loginSection label {
  color: #2d2c2c;
  font-size: 17px;
  font-weight: 500;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 8px 20px;
  font-size: 16px;
  box-shadow: none !important;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #ffffff1f;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px !important;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 450px) {
  .login-container input[type="email"],
  .login-container input[type="password"] {
    padding: 8px 15px;
  }
  .loginSection {
    padding: 15px;
  }
  .login-container {
    padding: 20px 15px;
  }
}
