.aside-container {
  position: relative;
}

.mobile-menu-toggle {
  display: none; /* Hide by default on desktop */
}

.aside {
  width: 340px;
  height: 100%;
  padding: 40px 20px;
  color: #ffffff;
  background: royalblue;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.dashboardLogoImg,
.dashboardLogoImg img {
  margin: auto;
  max-width: 150px;
}

.DBText {
  font-size: 20px;
  padding-bottom: 2px !important;
  margin: 20px 0 16px 0 !important;
}

.dashboardMenu {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.dashboardMenu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px 8px 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  transition: all 360ms ease;
}

.dashboardMenu li.tabActive,
.dashboardMenu li:hover {
  color: #000000;
  background: #ffdf6e;
}

.bSubMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dashboardSubMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dashboardSubMenu.expanded {
  max-height: 200px; /* Adjust according to the content */
}

.rotate-icon {
  transition: transform 0.3s ease-out;
}

.tabActive {
  color: #000000 !important;
  background: #ffdf6e;
  border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 1920px) {
  .aside {
    width: 280px;
  }
}
@media (max-width: 1600px) {
  .aside {
    width: 260px;
  }
}
@media (max-width: 1440px) {
  .aside {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .aside {
    width: 220px;
  }
}
@media (max-width: 1100px) {
  .aside {
    width: 210px;
  }
}
@media (max-width: 991px) {
  .mobile-menu-toggle {
    width: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 0px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    z-index: 1100;
    cursor: pointer;
    border-radius: 0 20px 20px 0 !important;
  }
  .mobile-menu-toggle .closeButton {
    top: 20px;
    left: 230px !important;
  }

  .aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .aside.mobile-menu-visible {
    transform: translateX(0);
  }

  .DBText,
  .dashboardLogoImg {
    width: 70;
  }
}
